<div class="row">
	<div class="container">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Language
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a id="ruby" href="#">Ruby</a></li>
		    <li><a id="c" href="#">C</a></li>
		  </ul>
		</div>
		<br>
		<%= form_tag url_for(controller: :home,action: :run_c), id: "form" %>

			<%= text_area_tag(:code) %>
			<%= text_area_tag(:testcases) %>
			<%= submit_tag("Run") %>
		</div>
	</div>
</div>			

