/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* #editor {
    width: 800px;
    height: 600px;
}
*/



.navbar .navbar-default {
    margin-bottom: 0 !important;
}
#recent-activity{
	margin-left: 10px;
	margin-right: 10px;
	min-width: 190px;
	word-wrap: break-word;
}

.sidebar1{
    background-color:#eef;
    position: absolute;
    width: 200px;
    right: 170px;
    border: 5px;
    border-radius: 5%;
    top: 150px;
    padding: 20px;
}

.submission{
  font-size: 14px;
   color: #000
}

.user-info {
  padding: 15px;
  color: #fff;
}
